<md-sidenav-layout>
  <md-sidenav #sidenav mode="side" class="app-sidenav" opened="true">
      <md-toolbar color="primary">
         StratusLIVE
         <button md-icon-button>
    <md-icon class="md-24">keyboard_arrow_down</md-icon>
</button>
      </md-toolbar>
      <md-toolbar color="primary">
          Dashboard
      </md-toolbar>
      <md-toolbar color="primary">
        Sites
        <span class="example-fill-remaining-space"></span>  
<button md-icon-button>
    <md-icon class="md-24">add_circle_outline</md-icon>
</button>
      </md-toolbar>
    
  </md-sidenav>
    <md-toolbar color="primary">


    Site Manager

    <span class="app-toolbar-filler"></span>
    <button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>
  </md-toolbar>
<h1>
  {{title}}
</h1>
<button md-button>FLAT</button>
<button md-raised-button>RAISED</button>
<button md-icon-button>
    <md-icon class="md-24">favorite border</md-icon>
</button>
<button md-fab>
    <md-icon class="md-24">add</md-icon>
</button>
<button md-mini-fab>
    <md-icon class="md-24">add</md-icon>
</button>
<md-card>
   Basic card.
</md-card>
<ul>
  <li *ngFor="let todo of todos">
    <md-checkbox [checked]="todo.completed"
                 (change)="todo.completed = $event">
      {{todo.name}}
    </md-checkbox>
  </li>
</ul>
<md-radio-group>
  <md-radio-button value="option_1">1</md-radio-button>
  <md-radio-button value="option_2">2</md-radio-button>
</md-radio-group>
<md-input placeholder="amount" align="end">
  <span md-prefix>$&nbsp;</span>
  <span md-suffix>.00</span>
</md-input>

</md-sidenav-layout>